body {
    background: linear-gradient(to right, #fff7f0, #d63200);
    background-size: 100%;
}

.shortcut {
    background: linear-gradient(to right, #fff7f0, #d63200);
    margin-bottom: 10px;



}


.shortcut ul li :hover {
    background-color: #fff7f0;
    color: #000;
}


.shortcut ul li a {
    color: #000;
    padding: 10px 14px;


}

h1 {
    text-align: center;
    height: 100px;
    color: #000;
    font-size: 48px;
}

.txt h3 {
    height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #000;
}

.txt_cont {
    font-size: 20px;
    color: #000;
    text-indent: 2em;
    margin-bottom: 50px;
}

.txt_cont em {
    float: left;
    height: 170px;
    width: 260px;
    margin-right: 15px;
}

.txt_cont em img {
    float: left;
    height: 100%;
    width: 100%;
}

.footer {
    background: linear-gradient(to right, #fff7f0, #d63200);
    border: none;
    color: #0007;
}