body {
    background: linear-gradient(to right, #fff7f0, #ea9478);

    background-size: 100%;
}

.shortcut {
    height: 40px;
    background: linear-gradient(to right, #fff7f0, #ea9478);

    line-height: 40px;
}

.pic {
    overflow: hidden;
    height: 400px;
    border: 5px solid rgb(115, 4, 4);
}

.pic ul {
    width: 6000px;
    animation: run 20s linear infinite;

}

.pic ul:hover {
    animation-play-state: paused;
}

@keyframes run {
    to {
        transform: translateX(-4800px);
    }
}

.pic ul li {
    float: left;
}

.pic img {
    width: 1200px;
    height: 400px
}

.hot_hd {
    height: 40px;
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink */
}

.hot_hd h4 {
    float: left;
    height: 40px;
    font-size: 16px;
    border-bottom: 2px solid #ff3333;
    font-weight: 400;
    color: black;

}

.hot_hd a {
    float: right;
    margin: 10px 20px 0 0;
    font-size: 12px;
}

.hot_hd a::after {
    font-family: 'icomoon';
    content: '\ea53';
    vertical-align: middle;
}

.hot_bd {
    height: 250px;
    margin-top: 15px;
}

.hot_bd ul li {
    overflow: hidden;
    float: left;
    margin-right: 12px;
    width: 230px;
    height: 250px;
    /* border: 1px solid #ccc; */
    background: linear-gradient(to top, #fff7f0, #d63200);




}

.hot_bd ul li:nth-child(5n) {
    margin-right: 0;
}

.hot_bd ul li img {
    width: 100%;
    height: 138px;
}

@keyframes big {
    to {
        transform: scale(1.1);

    }
}

.hot_bd ul li :hover img {
    animation: big .8s forwards;
}

.hot_bd ul li h3 {
    padding-left: 8px;
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}

.hot_bd ul li h4 {
    font-size: 14px;
    font-weight: 400;
}

.hot_bd ul li span {
    display: inline-block;
    margin: 10px 0 5px 10px;
}

.hot_bd ul li .pinlun,
span i {
    padding-left: 10px;
}

p {
    font-size: 12px;
    font-weight: 700;
    color: #ff3333;
    margin-left: 10px;
}

.CNpic {
    height: 115px;
    margin-top: 15px;
}

.CNpic img {
    width: 1200px;
    height: 100%;
}

/* floor模块 */
.box_hd {
    height: 40px;
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink */
}

.box_hd h4 {
    float: left;
    height: 40px;
    font-size: 16px;
    border-bottom: 2px solid #ff3333;
    font-weight: 400;
    color: black;

}

.box_hd a {
    float: right;
    margin: 10px 20px 0 0;
    font-size: 12px;
}

.box_hd a::after {
    font-family: 'icomoon';
    content: '\ea53';
    vertical-align: middle;
}

.box_bd {
    height: 280px;
    margin-top: 15px;
    /* background-color: pink; */
}

.box_bd ul li {
    float: left;
    overflow: hidden;
    width: 290px;
    height: 280px;
    margin-right: 13px;
    background: linear-gradient(to top, #fff7f0, #d63200);



}

.box_bd ul li img {
    width: 290px;
    height: 150px;

}

.box_bd ul li:nth-child(4n) {
    margin-right: 0px;
}

.box_bd ul li h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding-left: 8px;
    margin-top: 10px;
}

.box_bd ul li h3 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;

}

.box_bd ul li span {
    display: inline-block;
    margin: 8px 0 5px 10px;
}

.box_bd ul li .pinlun,
span i {
    padding-left: 10px;
}

.box_bd ul li :hover img {
    animation: big .4s forwards;
}

p::before {
    font-family: 'icomoon';
    content: '\e9da';

}

.footer {
    height: 125px;
    margin-top: 15px;
    background: linear-gradient(to right, #fff7f0, #ea9478);
    border-top: 1px solid #ccc;

}