.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 118px;
    border-bottom: 2px solid #c61a2a;
}

.registerarea {
    height: 521px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 400;
    padding: 0 12px;
    background-color: #ececec;
}

.logo_in {
    float: right;
    font-size: 14px;
}

.logo_in a {
    color: #c61a2a;
}

.reg_form {
    width: 600px;
    /* background-color: pink; */
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    font-size: 14px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 240px;
    height: 36px;
    border: 1px solid #ccc;
}

.error_icon {
    display: inline-block;
    background: url(../image/errno_03.png);
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.error {
    font-size: 12px;
    color: #c61a2a;
}

.safe {
    margin-left: 165px;

}

.safe em {
    padding: 0 12px;
    color: #fff;

}

.ruo {
    background-color: green;
}

.zhon {
    background-color: #f79100;
}

.qiang {
    background-color: #c61a2a;
}

.agree input {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 95px;
}

.agree a {
    color: #93caf0;
}

.btn {
    width: 200px;
    height: 36px;
    color: #fff;
    background-color: #c61a2a;
    margin: 30px 0 0 100px;
}



h1{
width: 500px;
height: 350px;
position: relative;
top: 50px;
margin: 0 auto ;
padding:4px ;
background-color: #ccc;
}
